*.iml
*.ipr
*.iws
*.hprof
.gradle/
.kotlin/
.qodana/
.shelf/
build/
out/
jetbrainsCredentials.gradle
private.pem
private_encrypted.pem
chain.crt
*.DS_Store
.idea/
.installedPlugins/
.intellijPlatform/
